<nav class="sidebar navbar-expand-lg navbar-light bg-light">
  <a class="sidebar" href="#">DAFOR</a>
  <button class="sidebar" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="sidebar"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="sidebar">
      <a class="nav-link">login</a>
      <a class="nav-link">Features</a>
      <a class="nav-link">Pricing</a>
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </div>
  </div>
</nav>
